@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  p {
    font-size: 90%;
    line-height: 1.4;
  }

  & + & {
    margin-top: 1rem;
  }
}

.thumbnail.visible {
  opacity: 1;
}
