body.light {
  background-color: $light-background-color;
  color: rgb(31, 41, 55);

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }

    .author-introduction {
      color: $middle-gray;
    }

    a {
      color: $light-link-color;
    }
  }

  .footer {
    color: $light-gray;

    a {
      color: $dark-gray;
    }
  }

  h1,
  h2 {
    border-bottom-color: rgb(229, 231, 235);
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
}
