.social-share {
  display: flex;
  justify-content: flex-end;

  * + * {
    margin-left: .5rem;
  }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  //display: inline-block;
  border: none;
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  height: 33px;
}

.resp-sharing-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: 25ms ease-out;
  padding: 3px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resp-sharing-button__icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1.5em;
}

.resp-sharing-button__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #fff;
  fill: none;
}

.resp-sharing-button__icon--solid {
  fill: #fff;
  stroke: none;
}
